<% if !@upcoming.empty? %>
<h2>These are the upcoming events</h2>
     <% @upcoming.each do |event| %>
        <%= link_to event.title , event %>
        <% end %>
    

<% if !@past.empty? %>
<h2>These are the past events</h2>
       <% @past.each do |event| %>
       <%= link_to event.title , event %>
    <% end %>
<% end %> 


<ul>
  <% @event.each do |event| %>
    <li><%= event.description %></li>
  <% end %>
</ul>